.top {
  background-image: url("./images/cdc-sSVSWMa035g-unsplash.jpg");
  height: 150px;
  width: 100%;
  background-size: cover;
  text-align: center;
  line-height: 36px;
}
.title {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  padding-top: 10%;
}
.tip {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
}
.map {
  /* height: 100%; */
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: gray;
  background-color: #fff;
}
.category{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.allCountry{
    background-color: #6C63FF;
    display: inline-block;
    width: 30px;
    height: 15px;
    color: #fff;
    font-size: 12px;
}
.card{
    font-size: 12px;
    color: #616161;
    line-height: 18px;
    text-align: start;
}
.maptip {
    height: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    padding-left: 10px;
    color: #6C63FF;
    line-height: 18px;
    font-weight: 400;
    background-color: #fff;
    margin-bottom: 10px;
}
.table{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.newsBox{
    width: 90%;
    margin: 0 auto;
}