
.top {
  background-image: url("https://cdn.xieyezi.com/nvov.jpg");
  height: 150px;
  width: 100%;
  background-size: cover;
  text-align: center;
  line-height: 36px;
}
.title {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  padding-top: 10%;
}
.tip {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-top: 10px;
}
.map {
  /* height: 100%; */
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: gray;
  background-color: #fff;
}
.category{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    /* font-size: 14px;
    font-weight: 400; */
    margin-bottom: 8px;
}
.allCountry{
    background-color: #6C63FF;
    display: inline-block;
    width: 30px;
    height: 15px;
    color: #fff;
    font-size: 12px;
}
.card{
    font-size: 14px;
    color: #616161;
    line-height: 22px;
    text-align: start;
}
.maptip {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    padding-left: 10px;
    color: #6C63FF;
    line-height: 18px;
    font-weight: 600;
    background-color: #fff;
    padding-bottom: 10px;
}
.table{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.newsBox{
    width: 90%;
    margin: 0 auto;
    background: #fff;
}
.trendBox{
  margin-top: 30px;
  margin-bottom: 20px;
}
.rumorBox{
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  background: #fff;
}
.footer {
  margin-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 12px;
  color: #6C63FF;
  line-height: 14px;
}
.footer a{
  color: #6C63FF;
}