
.newsitem{
    margin-top: 30px;
    width: 100%;
    background-color: #fff;
}
.newscontent{
    overflow: hidden;
}
.footer{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.area{
    padding-left: 5px;
}
.origin{
    color: #6C63FF;
    padding-left: 5px;
}